In [1]:
import pandas as pd

In [4]:
pd.read_csv(r'Doctors_Per_10000_Total_Population.csv', index_col=0)

      doctors_per_10000_total_population
year
1960                                   4
1961                                   4
1962                                   4
1963                                   4
1964                                   5
1965                                   5
1966                                   5
1967                                   6
1968                                   6
1969                                   7
1970                                   7
1971                                   7
1972                                   7
1973                                   7
1974                                   7
1975                                   7
1976                                   7
1977                                   8
1978                                   8
1979                                   8
1980                                   8
1981                                   8
1982                                   8
1983                                   9
1984                                   9
1985                                  10
1986                                  10
1987                                  11
1988                                  11
1989                                  12
1990                                  12
1991                                  12
1992                                  12
1993                                  13
1994                                  13
1995                                  13
1996                                  13
1997                                  13
1998                                  13
1999                                  13
2000                                  14
2001                                  14
2002                                  14
2003                                  15
2004                                  16
2005                                  16
2006                                  16
2007                                  16
2008                                  16
2009                                  17
2010                                  18
2011                                  19
2012                                  19
2013                                  20
2014                                  21