In [1]:
import pandas as pd

In [2]:
weekly_infectious_disease_cases = pd.read_csv('Weekly_Infectious_Disease_Bulletin_Cases.csv')

In [3]:
weekly_infectious_disease_cases.head()

   epi_week                  disease  no._of_cases
0  2012-W01  Acute Viral hepatitis B             0
1  2012-W01  Acute Viral hepatitis C             0
2  2012-W01          Avian Influenza             0
3  2012-W01   Campylobacterenterosis             6
4  2012-W01        Chikungunya Fever             0

In [4]:
disease = weekly_infectious_disease_cases['disease']

In [5]:
disease.head()

0    Acute Viral hepatitis B
1    Acute Viral hepatitis C
2            Avian Influenza
3     Campylobacterenterosis
4          Chikungunya Fever
Name: disease, dtype: object

In [6]:
disease_and_epi = weekly_infectious_disease_cases[['epi_week', 'disease']]

In [7]:
disease_and_epi.head()

   epi_week                  disease
0  2012-W01  Acute Viral hepatitis B
1  2012-W01  Acute Viral hepatitis C
2  2012-W01          Avian Influenza
3  2012-W01   Campylobacterenterosis
4  2012-W01        Chikungunya Fever

In [8]:
disease[4]

'Chikungunya Fever'

In [9]:
disease.index

RangeIndex(start=0, stop=10100, step=1)

In [10]:
weekly_infectious_disease_cases = weekly_infectious_disease_cases.set_index('epi_week')

In [11]:
weekly_infectious_disease_cases.head()

                          disease  no._of_cases
epi_week
2012-W01  Acute Viral hepatitis B             0
2012-W01  Acute Viral hepatitis C             0
2012-W01          Avian Influenza             0
2012-W01   Campylobacterenterosis             6
2012-W01        Chikungunya Fever             0

In [12]:
weekly_infectious_disease_cases_2012 = weekly_infectious_disease_cases['2012-W01':'2012-W52']

In [13]:
weekly_infectious_disease_cases_2012.head()

                          disease  no._of_cases
epi_week
2012-W01  Acute Viral hepatitis B             0
2012-W01  Acute Viral hepatitis C             0
2012-W01          Avian Influenza             0
2012-W01   Campylobacterenterosis             6
2012-W01        Chikungunya Fever             0

In [14]:
weekly_infectious_disease_cases_2012.tail()

                    disease  no._of_cases
epi_week
2012-W52               SARS             0
2012-W52            Typhoid             0
2012-W52  Viral Hepatitis A             5
2012-W52  Viral Hepatitis E             1
2012-W52       Yellow Fever             0