In [1]:
import pandas as pd

In [2]:
weekly_infectious_disease_cases = pd.read_csv('Weekly_Infectious_Disease_Bulletin_Cases.csv')

In [3]:
weekly_infectious_disease_cases.head()

   epi_week                  disease  no._of_cases
0  2012-W01  Acute Viral hepatitis B             0
1  2012-W01  Acute Viral hepatitis C             0
2  2012-W01          Avian Influenza             0
3  2012-W01   Campylobacterenterosis             6
4  2012-W01        Chikungunya Fever             0

In [4]:
weekly_infectious_disease_cases.index

RangeIndex(start=0, stop=10100, step=1)

In [5]:
weekly_infectious_disease_cases.loc[4]

epi_week                 2012-W01
disease         Chikungunya Fever
no._of_cases                    0
Name: 4, dtype: object

In [7]:
weekly_infectious_disease_cases.loc[[2, 3, 4]]

   epi_week                 disease  no._of_cases
2  2012-W01         Avian Influenza             0
3  2012-W01  Campylobacterenterosis             6
4  2012-W01       Chikungunya Fever             0

In [8]:
weekly_infectious_disease_cases.loc[3, 'epi_week']

'2012-W01'

In [9]:
weekly_infectious_disease_cases.loc[2:4]

   epi_week                 disease  no._of_cases
2  2012-W01         Avian Influenza             0
3  2012-W01  Campylobacterenterosis             6
4  2012-W01       Chikungunya Fever             0

In [12]:
weekly_infectious_disease_cases.loc[2:4, 'disease':'no._of_cases']

                  disease  no._of_cases
2         Avian Influenza             0
3  Campylobacterenterosis             6
4       Chikungunya Fever             0